@using PU_CampusTour.Models;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add";
    dbf522ec9140464818abf6a1c4013479aeEntities1 db = new dbf522ec9140464818abf6a1c4013479aeEntities1();

    var data2 = from s in db.Categories select s;

    int id = Convert.ToInt32(ViewBag.id);
    var category = from s in db.Categories where s.Category_Id == id select s;

    string n1 = ViewBag.n1;
}

    
  @section Change_pswd{ 
       <div style="margin-left:100px">
    <h2>Password Updation</h2> 
                  
                 
                    

    <form method=post action="/Location/Change_Password">
    
    
    	  <br />
          
           <h4> @ViewBag.msg</h4>  
           <br />
                    <label><strong>Current Password:</strong></label>
                    <br />
                    <input type="text" name="CP" value="@n1" />
                      
                      <br />
                        <br /> 
                    
                    <label ><strong>New Password:       </strong></label>
                    <br />
                    <input type="text" name="NP" value="@ViewBag.n2"  />
                    
                    <br />

                      <br /> 
                    <label ><strong>Confirm Password:</strong></label>
                    <br />
                    <input type="text" name="ConP" value="@ViewBag.n3"  />
                   

                   <br /> <br />
                    
                    <div class="form_row">
                <input type="submit" class="register" value="Submit" />
                    </div>   
      
    </form>
    	
    
    

<br /><br />
	 
      </div>
     
     }
